@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
    font-family: 'Oswald', sans-serif;
    margin: auto;
}
.hidden {
    display: none;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 95px;
    flex-shrink: 0;
    background: #43B0F1;
    margin: 0;
    padding: 0;
}
.logo {
    width: calc(100% / 3);
    margin: 0;
    text-align: left;
    box-sizing: border-box;
    padding-left: 20px;
    vertical-align: center;
}
.logo-img {
    height: 80px;
    width: 80px;
}
.app-title {
    width: calc(100% / 3);
    box-sizing: border-box;
    margin: 0;
    display: block;
    text-align: center;
    vertical-align: center;
}
.title-text {
    color: #FFF;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header-buttons {
    width: calc(100% / 3);
    box-sizing: border-box;
    margin: 0;
    text-align: right;
    vertical-align: center;
    padding-right: 10%;
}
.sign-up-button {
    background: #FFF;
    border: 1px solid #1E3D58;
    border-radius: 20px 0 0 20px;
    flex-shrink: 0;
    width: 100px;
    height: 45px;
    color: #057DCD;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    margin-right: -2px;
}
.sign-up-button:hover {
    background: #E8EEF1;
}
.login-button {
    background: #3076A4;
    border: 1px solid #1E3D58;
    border-radius: 0 20px 20px 0;
    flex-shrink: 0;
    width: 100px;
    height: 45px;
    color: #FFFFFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    margin-left: -2px;
    margin-right: -95px;
}
.login-button:hover {
    background: #395f83;
}
.background-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -9999;
    text-align: center;
    opacity: 0.5;
}
.background {
    top: 0;
    left: 0;
    width: 55%;
    height: 90%;
    pointer-events: none;
}
.main {
    /*position: sticky;*/
    /*text-align: center;*/
    margin: 0;
    display: flex;
    justify-content: center;
}
.main-text {
    z-index: -10;
    display: flex;
    width: 446px;
    height: 316px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.first-slogan {
    color: #057DCD;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.main-description {
    color: #43B0F1;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.second-slogan {
    color: #057DCD;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.invite-message {
    color: #057DCD;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer {
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    background: #43B0F1;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.contacts-title {
    text-align: center;
    font-size: 28px;
    color: #FFFFFF;
}
.links {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.email,
.telegram,
.twitter {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.link-logo {
    width: 40px;
    height: auto;
    margin-right: -15px;
}
.email-text,
.telegram-text,
.twitter-text {
    margin-left: 30px;
    color: #FFFFFF;
    font-size: 20px;
}
.email-link,
.telegram-link,
.twitter-link {
    color: #FFFFFF;
    text-decoration: none;
}
.login-form-container,
.registration-form-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    height: 70vh;
    margin: 0;
    z-index: 10;
    /*background-color: #057DCD;*/
}
.form-background {
    background-color: #3d84b6;
    /*opacity: 0.7;*/
    border-radius: 40px;
    padding: 20px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /*height: 20vh;*/
}
.input-container {
    width: 300px;
    background-color: #43B0F1;
    /*opacity: 0.5;*/
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 0;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    /*background-color: #CCCCCC;*/
    /*!*opacity: 0.7;*!*/
    /*border-radius: 40px;*/
    /*padding-left: 40px;*/
    /*padding-right: 40px;*/
    /*!*padding-top: 20px;*!*/
    /*!*padding-bottom: 20px;*!*/
    /*height: 20vh;*/
}
/*.login-form h2 {*/
/*    color: #057DCD;*/
/*    text-align: center;*/
/*    font-size: 24px;*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    line-height: normal;*/
/*    margin: 0;*/
/*}*/
.input-container {
    width: 100%;
    margin-bottom: 15px;

}
.input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 15px;
    outline: none;
    margin: 0;
}
.submit-button {
    /*box-sizing: border-box;*/
    width: calc(100% - 20px);
    padding: 10px;
    /*padding-top: 10px;*/
    border: none;
    border-radius: 15px;
    background-color: #395f83;
    color: #FFFFFF;
    font-size: 26px;
    cursor: pointer;
    outline: none;
    margin: 0;
    /*margin-top: 20px;*/
}
.submit-button:hover {
    background-color: #1E3D58;
}