@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald'),
         url("sources/Oswald-VariableFont_wght.woff2");
}
* {
    font-family: 'Oswald', sans-serif;
    margin: auto;
    cursor: default;
}
.hidden {
    display: none;
    visibility: hidden;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 95px;
    flex-shrink: 0;
    background: #43B0F1;
    margin: 0;
    padding: 0;
}
.logo {
    width: calc(100% / 3);
    margin: 0;
    text-align: left;
    box-sizing: border-box;
    padding-left: 20px;
    vertical-align: center;
    cursor: default;
}
.logo-img {
    height: 80px;
    width: 80px;
}
.app-title {
    width: calc(100% / 3);
    box-sizing: border-box;
    margin: 0;
    display: block;
    text-align: center;
    vertical-align: center;
}
.title-text {
    color: #FFF;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    pointer-events: none;
}
.header-buttons {
    width: calc(100% / 3);
    box-sizing: border-box;
    margin: 0;
    text-align: right;
    vertical-align: center;
    padding-right: 10%;
    cursor: default;
}
.sign-up-button {
    background: #FFF;
    border: 1px solid #1E3D58;
    border-radius: 20px 0 0 20px;
    flex-shrink: 0;
    width: 100px;
    height: 45px;
    color: #057DCD;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    margin-right: -2px;
    transition: background 0.2s ease;
}
.sign-up-button:hover {
    background: #E8EEF1;
    transition: background 0.2s ease-in-out;
}
.login-button {
    background: #3076A4;
    border: 1px solid #1E3D58;
    border-radius: 0 20px 20px 0;
    flex-shrink: 0;
    width: 100px;
    height: 45px;
    color: #FFFFFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    margin-left: -2px;
    margin-right: -95px;
    transition: background 0.2s ease;
}
.login-button:hover {
    background: #395f83;
    transition: background 0.2s ease-in-out;
}
.sign-out-container {
    cursor: default;
    width: calc(100% / 3);
    box-sizing: border-box;
    text-align: right;
    padding-right: 3%;
}
.sign-out {
    text-align: right;
    padding-right: 3%;
}
.sign-out-container p {
    display: inline;
    color: #FFF;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.sign-out-container p:hover {
    color: #395f83;
}
.background-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -9999;
    text-align: center;
    opacity: 0.5;
}
.background {
    top: 0;
    left: 0;
    width: 55%;
    height: 90%;
    pointer-events: none;
}
.main {
    margin: 0;
    display: flex;
    justify-content: center;
}
.main-text {
    z-index: -10;
    display: flex;
    width: 446px;
    height: 316px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.first-slogan {
    color: #057DCD;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.main-description {
    color: #43B0F1;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.second-slogan {
    color: #057DCD;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.invite-message {
    color: #057DCD;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer {
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    background: #43B0F1;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.contacts-title {
    text-align: center;
    font-size: 28px;
    color: #FFFFFF;
    pointer-events: none;
}
.links {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.email,
.telegram,
.twitter {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.link-logo {
    width: 40px;
    height: auto;
    margin-right: -15px;
}
.email-text,
.telegram-text,
.twitter-text {
    margin-left: 30px;
    color: #FFFFFF;
    font-size: 20px;
}
.email-link,
.telegram-link,
.twitter-link {
    color: #FFFFFF;
    text-decoration: none;
}
.login-form-container,
.registration-form-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    height: 70vh;
    margin: 0;
    z-index: 10;
}
.form-background {
    background-color: #3d84b6;
    border-radius: 40px;
    padding: 20px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.input-container {
    width: 300px;
    background-color: #43B0F1;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 0;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.input-container {
    width: 100%;
    margin-bottom: 15px;
}
.input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 15px;
    outline: none;
    margin: 0;
    cursor: text;
}
.submit-button {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #395f83;
    color: #FFFFFF;
    font-size: 26px;
    cursor: pointer;
    outline: none;
    margin: 0;
    transition: background 0.2s ease;
}
.submit-button:hover {
    background-color: #1E3D58;
    transition: background 0.2s ease-in-out;
}
.error-message {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    text-align: center;
    font-size: 24px;
    background-color: #FF7F7F;
    color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 15px;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s linear;
    visibility: hidden;
}
.error-message.active {
    visibility: visible;
    opacity: 1;
}
.error-message.reg {
    top: 10px;
}
.error-message.add {
    top: -55px;
}
.main-window {
    position: absolute;
    width: 100%;
}
.user-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    background-color: #43B0F1;
    border-radius: 0 25px 25px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    top: 20%;
    right: 2%;
    height: 126px;
}
.user-info-buttons {
    position: fixed;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transform: translateX(-30px);
}
.user-info-button {
    width: 30px;
    height: 63px;
    padding-left: 1px;
    padding-right: 0;
    border: 1px solid #3076A4;
    transition: background-color 0.2s ease;
    background-color: #057DCD;
    color: #FFFFFF;
    margin: 0;
}
.user-info-button:first-child {
    border-radius: 25px 0 0 0;
}
.user-info-button:last-child {
    border-radius: 0 0 0 25px;
}
.user-info-button:hover {
    background-color: #3d84b6;
    transition: background-color 0.2s ease-in-out;
}
.user-info-button img {
    width: 27px;
    height: 27px;
}
.info-line {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: center;
    box-sizing: border-box;
    text-align: left;
    margin-left: 0;
    margin-top: -7px;
    margin-bottom: -7px;
}
.info-icon {
    width: 25px;
    padding-left: 20px;
    cursor: default;
    pointer-events: none;
}
.hp {
    margin-left: 0;
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    padding: 10px 20px;
}
.info-header {
    top: -50px;
    position: absolute;
}
.info-header-p {
    color: #0f7dc9;
    font-size: 30px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    cursor: default;
}
.tasks {
    position: fixed;
    width: 60%;
    height: 50%;
    margin-top: 3%;
    margin-left: 3%;
}
.tasks-container {
    background-color: #43B0F1;
    border-radius: 20px 20px 0 0;
    height: 80%;
    opacity: 0.8;
    overflow-y: hidden;
    overflow-x: visible;
    padding: 0 10px 5px;
}
.tasks-body {
    height: 35vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-bottom: 10px;
}
.tasks-body::-webkit-scrollbar {
    display: none;
}
.tasks-table {
    width: 100%;
    overflow: visible;
}
.tasks-title p {
    padding-left: 10px;
    color: #0f7dc9;
    font-size: 30px;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    cursor: default;
}
.tasks-table-head div {
    display: flex;
    flex-direction: row;
    width: 20%;
    font-size: 24px;
    color: #FFFFFF;
    text-align: left;
    padding-left: 10px;
    font-weight: 400;
    user-select: none;
}
.tasks-table-head {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}
.tasks-row {
    background-color: #FFFFFF;
    transition: transform 0.2s ease, background-color 0.2s ease, height 0.2s ease;
    line-height: 1.5;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 27px;
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 5px;
}
.tasks-row:hover {
    background-color: #CCCCCC;
    transform: scale(1.01);
    z-index: 10;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.tasks-row div {
    width: 19%;
    font-size: 18px;
    text-align: center;
    padding-left: 10px;
    color: #057DCD;
    overflow: hidden;
}
.tasks-row div:first-child {
    text-align: left;
}
.tasks-row div:nth-child(2) {
    text-align: left;
}
.tasks-row div>p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.tasks-buttons {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-top: 1px solid #FFFFFF;
    border-radius: 0 0 20px 20px;
    height: 50px;
    margin: 0;
}
.task-button {
    background-color: #0f7dc9;
    transition: background-color 0.2s ease;
    border: none;
    margin: 0;
    height: 100%;
    color: #FFFFFF;
    font-size: 24px;
    border-top: 1px solid #FFFFFF;
}
.task-button:first-child {
    border-radius: 0 0 20px 20px;
    border-right: 1px solid #FFFFFF;
    width: 20%;
    background-color: #3076A4;
}
.task-button:nth-child(2) {
    margin-left: auto;
    border-radius: 0 0 0 20px;
}
.task-button:not(:first-child):not(:nth-child(2)):not(:last-child) {
    border-right: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
}
.task-button:last-child {
    border-radius: 0 0 20px 0;
    border-left: 1px solid #FFFFFF;
}
.undo-inactive {
    background-color: #4e738d;
}
.undo-active {
    background-color: #0f7dc9;
    transition: background-color 0.2s ease;
}
.undo-active:hover {
    background-color: #3d84b6;
    transition: background-color 0.2s ease-in-out;
}
.task-button:nth-child(2):hover {
    background-color: #3d84b6;
    transition: background-color 0.2s ease-in-out;
}
.task-button:first-child:hover {
    background-color: #0f7dc9;
    transition: background-color 0.2s ease-in-out;
}
.task-info-container {
    background-color: #43B0F1;
    border-radius: 0 20px 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: fixed;
    bottom: 17%;
    right: 2%;
    width: 300px;
    margin: 0;
    height: 270px;
}
.task-info-header {
    position: absolute;
    top: -50px;
    padding-right: 10px;
    align-self: center;
}
.task-name {
    margin-left: 5px;
    margin-top: 5px;
    height: 62px;
    line-height: 31px;
    overflow: hidden;
    overflow-wrap: anywhere;
    text-overflow: ellipsis;
    width: 95%;
}
.task-name p {
    font-size: 30px;
    text-align: left;
    font-weight: 400;
    padding: 0;
}
.task-description {
    margin-left: 0;
    height: 120px;
    overflow: hidden;
}
.task-description-extended {
    height: 270px;
}
.task-description p {
    text-align: left;
    padding-top: 0;
    padding-left: 10px;
    overflow-wrap: anywhere;
    text-overflow: ellipsis;
}
.task-date {
    margin-left: 0;
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    height: 30px;
}
.task-date-extended {
    height: 0;
}
.task-date img {
    width: 20px;
    height: 20px;
}
.task-date p {
    padding: 0 0 0 5px;
}
.task-time {
    margin-left: 0;
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    height: 30px;
}
.task-time-extended {
    height: 0;
}
.task-time img {
    width: 20px;
    height: 20px;
}
.task-time p {
    padding: 0 0 0 5px;
}
.adding-task-form-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 25%);
}
.edit {
    left: 35%;
}
.form-background-add {
    background-color: #3d84b6;
    border-radius: 40px;
    padding: 20px 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.form-add {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.left-side {
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: space-between;
}
.right-side {
    padding-left: 60px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 5px 0 0;
}
.right-side>div {
    height: 100%;
}
.left-buttons {
    display: flex;
    justify-content: center;
    border-collapse: collapse;
}
.back-button {
    border-radius: 20px 0 0 20px;
    border: 1px solid #3076A4;
    transition: background-color 0.2s ease;
    background-color: #057DCD;
    color: #FFFFFF;
    font-size: 24px;
    padding-right: -1px;
}
.back-button:hover {
    background-color: #395f83;
    transition: background-color 0.2s ease-in-out;
}
.add-button {
    border-radius: 0 20px 20px 0;
    border: 1px solid #3076A4;
    background-color: #2c9cde;
    transition: background-color 0.2s ease;
    color: #FFFFFF;
    font-size: 24px;
    padding-left: -1px;
}
.add-button:hover {
    background-color: #3d84b6;
    transition: background-color 0.2s ease-in-out;
}
.textarea {
    resize: none;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 15px;
    outline: none;
    cursor: text;
    font-size: 26px;
    overflow: hidden;
}
.textarea::placeholder {
    text-align: center;
    vertical-align: center;
    font-size: 40px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.task-info-buttons-container {
    position: fixed;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transform: translateX(-30px);
}
.task-info-buttons {
    width: 30px;
    height: 50px;
    padding-left: 2px;
    padding-right: 0;
    border: 1px solid #3076A4;
    transition: background-color 0.2s ease;
    background-color: #057DCD;
    color: #FFFFFF;
    margin: 0;
}
.task-info-buttons img {
    width: 25px;
}
.task-info-buttons:first-child {
    padding-left: 1px;
    border-radius: 20px 0 0 20px;
    margin-bottom: auto;
    background-color: #0f7dc9;
}
#status-button-radio {
    display: none;
    z-index: 10;
}
#status-button-radio-label {
    z-index: 10;
    display: inline-block;
    width: 23px;
    height: 23px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}
#status-button-radio:checked + #status-button-radio-label {
    background-color: #FFFFFF;
}
.task-info-buttons:nth-child(2) {
    border-radius: 20px 0 0 0;
}
.task-info-buttons:not(:first-child):not(:nth-child(2)):not(:last-child) {

}
.task-info-buttons:last-child {
    border-radius: 0 0 0 20px;
}
.task-info-buttons:not(:first-child):hover {
    background-color: #3d84b6;
    transition: background-color 0.2s ease-in-out;
}
.change-password {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: translate(-260px, -70px);
}
.password {
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.change-password-submit {
    background-color: #057DCD;
    border-radius: 15px;
    border: none;
    width: 31px;
    height: 31px;
    padding: 0;
    margin-left: 5px;
}
.change-password-submit:hover {
    background-color: #3d84b6;
    transition: background-color 0.2s ease-in-out;
}
.change-password-submit img {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
}
.sort-arrow-container {
    position: fixed;
    width: 20px;
    height: 20px;
}
.sort-arrow-container img {
    transform: translate(-10px, 10px);
    width: 20px;
    height: 20px;
}